.main-report-issue{
    width: 22.5vw;
    padding: 2vh 2vw;
    box-sizing: border-box;
    // margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
}

.button-report{
    margin-top: 2vh;
}