@import '../../style/classes.scss';

.main-section-benefits{
    display: flex;
    flex-direction: column;
    padding: 3vh 2vw;
    margin: 5vh auto;
}

.title-section{
    font-size: 50px;
    letter-spacing: normal;
    margin-bottom: 2vh;
    color: $base-green;
    font-weight: 400;
}

.cards-section{
    display: flex;
    flex-direction: row;
}