

.main-section-win{
    margin: 4vh 2vw;
    width: 20vw;
    height: 52vh;
}

.top-section{
    
}

.top-title{
    font-weight: 400;
    font-size: 26px;
    margin: auto;
}

.middle-section{
    margin: 4.5vh auto;
    text-indent: 1em;
    text-align: justify;
    font-size: larger;
}


.bottom-section{
    
}