
@import '../../style/variables/colours';

.the-footer {
   background-color: $base-green;
   color: white;
   font-weight: 600;
   display: flex;
   justify-content: center;
   height: 5vh;

   a {
    color: white;
   }
}

.the-footer-text {
}