
@import '../../style/variables/proportions';

.the-hero-section {
    height: 70vh;
    display: flex;
    margin-top: 20vh;
    h1 {
        font-size: 4.2rem;
        font-weight: 600;
    }

    h2 {
        margin-top: 5vh;
        font-size: 1.6rem;
    }

    button {
        width: 15vw;
        margin-top: 3vh;
    }
}

.the-hero-section-left {
    width: 50%;
}

.the-hero-section-right {
    width: 45%;
    img {
        margin-top: -5vh;
        margin-left: 7vw;
        width: 90%;
    }
}