.section-add-tenant{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-add-tenant{
    font-weight: lighter;
    margin-bottom: 1vh;
}

.add-tenant-button {
    width: 4vw;
    height: 2vh;
}