
.the-landlord-table-card {
    width: 100%;
    margin: 2vh 0;
} 

.span-address-title {
    font-weight: 500;
}

.the-landlord-table-card-main {
    display: flex;
}

.the-landlord-table-card-main-right {
    margin-left: auto;
}

.the-landlord-table-card-main-left {
    p {
        margin-top: 1vh;
    }

    > ul {
        list-style: none;
        > li {
            display: flex;
            align-items: center;
            margin: 1vh 0;
            > span {
                margin-left: 0.3vw;
            }
        }
    }
}

.round-small-img {
    border-radius: 50%;
    height: 4.5vh;
}