
.the-landlord-table-card {
    width: 100%;
    height: 15vh;
    margin: 2vh 0;
} 

.span-address-title {
    font-weight: 500;
}

.the-landlord-table-card-main {
    display: flex;
}

.the-landlord-table-card-main-right {
    margin-left: auto;
}