
@import '../../style/variables/proportions';

header {
    height: $the-header-height;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    width: 3.1rem;
    cursor: pointer;
}

.header-section{
    margin-left: auto;
}