
@import './variables/_colours';
@import './variables/_proportions';


.page {
    padding: 0 $page-horizontal-padding;
    background-color: $base-white;
    box-sizing: border-box;
    width: 100%;
}

.h2 {
    font-weight: 200;
    font-size: 1.9rem;
}

.base-container {
    box-shadow: 5px 5px 15px 5px #000000;
}

.base-form {
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.base-input {
    // width: 85%;
    height: 4.5vh;
}

.base-outlined-button {
    width: 7.5vw;
    height: 4.5vh;
    border: 1px solid $base-green;
    outline: none;
    background-color: $base-white;
}

.base-filled-button {
    width: 7.5vw;
    height: 4.5vh;
    border: none;
    outline: none;
    background-color: $base-green;
}

.base-label {
    text-transform: uppercase;
}