
@import './variables/_colours';
@import './variables/_proportions';


.glb-page {
    padding: 0 $page-horizontal-padding;
    background-color: $base-white;
    box-sizing: border-box;
    width: 100%;
}

.glb-h2 {
    font-weight: 200;
    font-size: 1.9rem;
    margin-bottom: 2vh; 
}

.glb-base-container {
    box-shadow: 5px 5px 15px 5px #000000;
}

.glb-base-form {
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.glb-base-input {
    // width: 85%;
    height: 5.5vh;
    padding: 0 1rem;
}

.glb-base-input-component {
    display: flex;
    flex-direction: column;
}

.glb-base-outlined-button {
    width: 8.5vw;
    height: 5.5vh;
    //border: 1px solid $base-green;
    border: 2px solid $base-green;
    outline: none;
    background-color: $base-white;
    color: $base-green;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.12rem;
    font-size: 1.1rem;
}

.glb-base-filled-button {
    width: 8.5vw;
    height: 5.5vh;
    border: none;
    outline: none;
    background-color: $base-green;
    color: $base-white;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.12rem;
    font-size: 1.1rem;
}

.glb-base-label {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.base-multipage-card-footer {
    margin-top: 2vh;
}