@import '../../style/variables/proportions';

.main-contractor{
    display: flex;
    justify-content: center;
    width: 100%;
        .main-contractor-forms {
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: $height-minus-the-header;
    }
}

.left-section{
    //background-color: red;
    margin-right: 10vw;
}

.right-section{
    width: 35vw;
}