.the-contractor-open-issues{
    padding: 2vh 2vw;
    box-sizing: border-box;
    // margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
}

.open-issue-card{
    margin: 2vh auto;
    width: 100%;
}