@import '../../style/variables/colours';

.tag-box {
    width: 8vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-text {
    font-weight: 600;
    letter-spacing: 0.12rem;
    font-size: 1.1rem;
}

.tag-box-pending{
    background-color: $base-orange;
}

.tag-pending{
    color: $base-white;
}

.tag-box-solved{
    background-color: $base-green;
}

.tag-solved{
    color: $base-white;
}

.tag-box-open{
    background-color: $base-contractor-tag-color;
}

.tag-open{
    color: $base-white;
}