.base-sender-description{
    display: flex;
}

.profile-pic{
    border-radius: 50%;
}

.span-message{
    font-weight: 500;
}

.span-name{
    font-weight: 300;
}

.entity{ // space them out
    margin: auto 0.6vw;
}